apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-config
data:
  application.yml: |
    server:
      port: 8082

    spring:
      application:
        name: gateway-service
      main:
        web-application-type: reactive
      security:
        oauth2:
          resourceserver:
            jwt:
              jwk-set-uri: http://keycloak:8080/realms/banking-realm/protocol/openid-connect/certs

      cloud:
        gateway:
          discovery:
            locator:
              enabled: false
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "*"
                allowedMethods: "*"
                allowedHeaders: "*"

          server:
            webflux:
              routes:
                # 1. Account Service
                - id: account-service
                  uri: http://account-service:8080
                  predicates:
                    - Path=/api/v1/accounts/**
                  filters:
                    - AddRequestHeader=X-Forwarded-Host, localhost:30082
                    - AddRequestHeader=X-Forwarded-Proto, http

                # 2. Transfer Service
                - id: transfer-service
                  uri: http://transfer-service:8080
                  predicates:
                    - Path=/api/v1/transfers/**
                  filters:
                    - AddRequestHeader=X-Forwarded-Host, localhost:30082
                    - AddRequestHeader=X-Forwarded-Proto, http

                # 3. Account Swagger Config
                - id: openapi-account
                  uri: http://account-service:8080
                  predicates:
                    - Path=/v3/api-docs/account
                  filters:
                    - SetPath=/v3/api-docs
                    - AddRequestHeader=X-Forwarded-Host, localhost:30082
                    - AddRequestHeader=X-Forwarded-Proto, http

                # 4. Transfer Swagger Config
                - id: openapi-transfer
                  uri: http://transfer-service:8080
                  predicates:
                    - Path=/v3/api-docs/transfer
                  filters:
                    - SetPath=/v3/api-docs
                    - AddRequestHeader=X-Forwarded-Host, localhost:30082
                    - AddRequestHeader=X-Forwarded-Proto, http

    springdoc:
      api-docs:
        enabled: true
      swagger-ui:
        enabled: true
        path: /swagger-ui.html
        use-root-path: true
        urls:
          - name: account
            url: /v3/api-docs/account
          - name: transfer
            url: /v3/api-docs/transfer

    management:
      endpoints:
        web:
          exposure:
            include: "*"