apiVersion: v1
kind: Service
metadata:
  name: keycloak
spec:
  ports:
    - port: {{ .Values.keycloak.port }}
      targetPort: {{ .Values.keycloak.port }}
      nodePort: {{ .Values.keycloak.nodePort }}
  selector:
    app: keycloak
  type: {{ .Values.keycloak.type }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: quay.io/keycloak/keycloak:23.0.0
          ports:
            - containerPort: {{ .Values.keycloak.port }}
          command: ["/opt/keycloak/bin/kc.sh", "start-dev", "--import-realm"]
          env:
            - name: KEYCLOAK_ADMIN
              value: "admin"
            - name: KEYCLOAK_ADMIN_PASSWORD
              value: "admin"
            - name: KC_DB
              value: "postgres"
            - name: KC_DB_URL
              value: "jdbc:postgresql://postgres:5432/keycloak"
            - name: KC_DB_USERNAME
              value: "admin"
            - name: KC_DB_PASSWORD
              value: "password"
            - name: KC_HOSTNAME
              value: "localhost"
          volumeMounts:
            - name: realm-config
              mountPath: /opt/keycloak/data/import
          resources:
            requests:
              memory: "256Mi"
            limits:
              memory: "512Mi"
      volumes:
        - name: realm-config
          configMap:
            name: keycloak-realm-config