server:
  port: 8080

spring:
  application:
    name: account-service

  cloud:
    function:
      definition: transferInitiated;transferDepositRequested;transferRefundRequested

    stream:
      kafka:
        binder:
          brokers: ${SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS:localhost:9092}
          auto-create-topics: true

      bindings:
        transferInitiated-in-0:
          destination: transfer-debit-events
          group: account-service-debit-group
          consumer:
            max-attempts: 3
        transferDepositRequested-in-0:
          destination: transfer-credit-events
          group: account-service-credit-group
        transferRefundRequested-in-0:
          destination: transfer-refund-events
          group: account-service-refund-group
        account-out-0:
          destination: account-events
          producer:
            partition-key-expression: headers['partitionKey']
        account-dlq-0:
          destination: account-events-dlq

  r2dbc:
    url: r2dbc:postgresql://localhost:5432/banking_core
    username: admin
    password: password
    pool:
      initial-size: 5
      max-size: 10

  sql:
    init:
      mode: always

logging:
  level:
    org.springframework.r2dbc: DEBUG
    io.r2dbc.postgresql: INFO


account:
  default-daily-limit: 5000.00
  default-currency: TRY
  outbox:
    binding-name: account-out-0
    dlq-binding-name: account-dlq-0
    batch-size: 20
    polling-interval: 1000ms
  backoff:
    initial-delay: 1m
    max-delay: 60m
    multiplier: 2.0