server:
  port: 8080

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"

spring:
  application:
    name: account-service

  cloud:
    function:
      definition: transferInitiated;transferDepositRequested;transferRefundRequested;onAccountDlqEvent

    stream:
      kafka:
        binder:
          brokers: ${SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS:localhost:9092}
          auto-create-topics: true

      bindings:
        transferInitiated-in-0:
          destination: transfer-debit-events
          group: account-service-debit-group
          consumer:
            max-attempts: 3
        transferDepositRequested-in-0:
          destination: transfer-credit-events
          group: account-service-credit-group
        transferRefundRequested-in-0:
          destination: transfer-refund-events
          group: account-service-refund-group
        account-out-0:
          destination: account-events
          producer:
            partition-key-expression: headers['partitionKey']
        account-dlq-0:
          destination: account-events-dlq
        onAccountDlqEvent-in-0:
          destination: account-events-dlq
          group: account-dlq-monitor-group

  r2dbc:
    url: r2dbc:postgresql://localhost:5432/banking_core
    username: admin
    password: password
    pool:
      initial-size: 5
      max-size: 10

  sql:
    init:
      mode: always

logging:
  level:
    root: INFO
    org.springframework.r2dbc: INFO
    org.springframework.transaction: INFO
    io.r2dbc: INFO
    com.minelsaygisever: DEBUG


account:
  default-daily-limit: 5000.00
  default-currency: TRY

  outbox:
    binding-name: account-out-0
    dlq-binding-name: account-dlq-0
    batch-size: 20
    polling-interval: 1000ms

  cleanup:
    cron: "0 */30 * * * *"
    retention-period: 7d
    batch-size: 1000

  backoff:
    initial-delay: 1m
    max-delay: 60m
    multiplier: 2.0